.wrap{
        background: cornflowerblue;
        color:yellow;
        text-align: center;
}

form{
        padding: 20px
}

.form>input{
        margin-right: 10px;
        background: yellow;
        color: cornflowerblue;
        border-radius: 5px;
        border: 2px solid green;
}

.hide{
        display: none;
}

.show{
        display: block;
}