.cell{
    border: 2px solid green;
    border-radius: 20px;
    margin: 5px;
}

.cell>ul{
    list-style: none;
    padding-left: 0;
}

button{
    align-items: center;
    margin-bottom: 10px;
    color:cornflowerblue;
    background: yellow;
    border: 2px solid green;
    border-radius: 5px;
    margin-right: 5px;
}

.hide{
    display: none;
}

.show{
    display: block;
}