.post{
    border: 2px solid green;
    width: 30%;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    background: yellow;
    color: cornflowerblue;
}