.main-wrap{
    text-align: center;
    background: cornflowerblue;
    border:2px solid yellow;
    border-radius: 20px;
    margin: 50px 300px 20px 300px;
}

.main-wrap button {
    margin-bottom: 10px;
}

