body{
    background: cornflowerblue;
    color: yellow;
}

.main-wrap h1{
    text-align: center;
}

.wrap{
    display: flex;
    justify-content: space-evenly;
}

.wrap a{
    border:2px solid green;
    padding:2%;
    border-radius: 10px;
    background: yellow;
    margin-bottom: 3%;
}