.wrap{
    margin: 20px;
    background: cornflowerblue;
    padding: 20px;
}

.wrap a{
    padding: 10px;
    border: 2px solid yellow;
    border-radius: 10px;
    margin-right: 40px;
    color: yellow;
}

.wrap h1{
    text-align: center;
    color: yellow;
}


